.header {
  flex: 0 0 auto;
  padding: 48px 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 153px;
  height: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 12px;

  li {
    display: inline-flex;
    align-items: center;
  }
  a {
    font-size: 16px;
    line-height: 20px;
    color: var(--base-black);
  }
}